<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="reference_point_cloud" default="$(find gedi)/data/assets/shelf.pcd"/>
  <arg name="voxel_size" default="0.02"/>
  <arg name="patches_per_pair" default="5000"/>

  <node pkg="gedi" type="registration.py" name="registration" output="screen">
    <param name="reference_point_cloud" value="$(arg reference_point_cloud)"/>
    <param name="voxel_size" value="$(arg voxel_size)"/>
    <param name="patches_per_pair" value="$(arg patches_per_pair)"/>
  </node>
</launch>
